@media only screen and (max-width: 768px) {
  .breaking-bad-col {
    display: none;
    
  }
  .col-6{
    width: 100% !important;
  }
}


.login-container {
  text-align: center;
  min-width: 100% !important;
  max-height: 100vh !important;
}
.logo {
  width: 98px;
  height: 98px;
  margin-top: 117px;
  margin-bottom: 64px;
  cursor: pointer;
}
.login-title {
  font-size: 30px;
  color: #293150;
  margin-bottom: 4px;
  font-family: "Rubik-Bold";
}
.text-area {
  width: 350px !important;
  display: inline-block !important;
}
.login-text {
  letter-spacing: -0.11px;
  color: #293150;
  font-size: 16px;
  font-family: "Rubik-Regular";
}
label {
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 21px;
  width: 350px !important;
  text-align: left;
  font-family: "Rubik-Regular";
  text-align: left;
display: inline-block;
}
input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e3e4ea;
  border-radius: 3px;
  opacity: 1;
  width: 350px;
  height: 50px;
  border-radius: 3px;
  padding-left: 20px;
  display: block;
}
input::placeholder {
  padding: 20px;
  color: #959bb7;
  font-size: 14px;
}
input:focus {
  border: 2px solid #004fff !important;
  outline-color: #004fff !important;
}

.login-button {
  margin-top: 30px;
  margin-bottom: 31px;
  background-color: #004fff;
  border-radius: 3px;
  border: 0px solid;
  color: white;
  font-size: 16px;
  width: 350px;
  height: 50px;
}
.login-button:hover {
  background-color: #0238b3;
}
a {
  text-decoration: none !important;
}
.forgot-password-text {
  font-size: 14px;
  color: #959bb7;
  cursor: pointer;
  font-family: "Rubik-Regular";
}

.breaking-bad{
  width: 100%;
min-height: 100% !important;
}
.breaking-bad-col{
  margin: 0px;
  padding: 0px !important;
}
