.button-container {
  margin-top: 15px;
  cursor: pointer;
}
.example-button {
  width: 155px !important;
  height: 50px;
  border-radius: 3px;
  border: 0px;
  font-size: 16px;
  margin: 15px;
}
.normal {
  background-color: #004fff;
  color: white;
  font-family: "Rubik-Regular";
}
.normal:hover {
  background-color: #0238b3;
}
.hover {
  background-color: #0238b3;
  color: white;
}
.waiting-button {
  background-color: #0238b3;
}
.waiting-img {
  width: 40px;
  height: 8px;
}
.special {
  background-color: #f4f5f7;
  color: #293051;
  letter-spacing: -0.1px;
}
.disabled {
  background-color: #f4f5f7;
  color: #c9ccdc;
}
